{% block body %}
{% load static%}
<!DOCTYPE HTML>
<!--
    Urban by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>CommunityGIS</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'landing_page_static/assets/css/main.css' %}" />
    </head>
    <body>

        <!-- Header -->
            <!-- <header id="header" class="alt">
                <div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div>
                <a href="#menu">Menu</a>
            </header> -->

        <!-- Nav -->
            <!-- <nav id="menu">
                <ul class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </nav>
 -->
        <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <header>
                        <h1>CommunityGIS</h1>
                        <p>Designed by community, for community</p>
                        
                        <img width="300px" height = "200px" src="{% static 'images/under-development.jpg' %}" alt="" />
                        
                    </header>
                    <a href="#main" class="button big scrolly">Learn More</a>
                    <a href="{{ PROJECT_ROOT }}/dashboard" class="button big scrolly">Explore Themes</a>

                </div>
            </section>

        <!-- Main -->
            <div id="main">

                <!-- Section -->
                    <section class="wrapper style1">
                        <div class="inner">
                            <!-- 2 Columns -->
                                <div class="flex flex-2">
                                    <div class="col col1">
                                        <div class="image round fit">
                                            <a href="#" class="link"><img src="{% static 'images/about_us.png' %}" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="col col2">
                                        <h3>About</h3>
                                        <p>CommunityGIS is a platform for community for a spatial data infrastructure. This consists of
                                            frontend described below and backend which is geonode <a href="https://geonode.org">(visit)</a>.Primary
                                            objective of communitygis is to provide educational platform for learners to learn about spatial
                                            information and learn how these modern tools can be used to solve real life problems. As a
                                            platform it is for people who range from those who can contribute data (mobile based point data
                                            collection to digitization of published maps) to those who can analyse the data to infer useful
                                            social knowledge. It is a digital way to collect, aggregate , access , analyse data and finally
                                            provide decision support to the community manipulate reality. 
                                        </p>    
                                                                            <p> Since all source code is
                                            published hereby (for frontend) , under GPL, any one can reproduce the technology , without
                                            any permission from makerGHAT. The data sources are Census of India and GISE Lab of CSE
                                            deptt , IIT Bombay. This website has been created by volunteers and coordinated
                                            by www.makerghat.org<a href="https://makerghat.org">(visit)</a> This is inspired by ideas as in 'p2p governance' of Bowens<a href="https://blog.p2pfoundation.net/about">(know more)</a>
                                            and Third Pillar <a href="https://www.penguinrandomhouse.com/books/566369/the-third-pillar-by-raghuram-
                                            rajan/9780525558316/">(click here)</a> of Dr Raghuram Rajan.</b> </p>
                                        <!-- <a href="#" class="button">Learn More</a> -->
                                    </div>
                                </div>
                        </div>
                    </section>

                <!-- Section -->
                    <section class="wrapper style2">
                        <div class="inner">
                            <div class="flex flex-2">
                                <div class="col col2">
                                    <h3>Caveat</h3>
                                    <p>All data are collected by volunteers and makerGHAT only provides the technology platform . Errors or omissions in data are not responsibility of makerGHAT. No claims are made for accuracy of the maps data. Users may use the same at THEIR OWN RISK.</p>
                                    <!-- <a href="#" class="button">Learn More</a> -->
                                </div>
                                <div class="col col1 first">
                                    <div class="image round fit">
                                        <a href="#" class="link"><img src="{% static 'images/caveat.png' %}" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                <!-- Section -->
                    <!-- <section class="wrapper style1">
                        <div class="inner">
                            <header class="align-center">
                                <h2>Aliquam ipsum purus dolor</h2>
                                <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                            </header>
                            <div class="flex flex-3">
                                <div class="col align-center">
                                    <div class="image round fit">
                                        <img src="images/pic03.jpg" alt="" />
                                    </div>
                                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                                    <a href="#" class="button">Learn More</a>
                                </div>
                                <div class="col align-center">
                                    <div class="image round fit">
                                        <img src="images/pic05.jpg" alt="" />
                                    </div>
                                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                                    <a href="#" class="button">Learn More</a>
                                </div>
                                <div class="col align-center">
                                    <div class="image round fit">
                                        <img src="images/pic04.jpg" alt="" />
                                    </div>
                                    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                                    <a href="#" class="button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </section> -->

            </div>

        <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    <!-- <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                    </ul> -->
                    <p>&copy; <a href="https://makerghat.org">makerGHAT</a></p>
                </div>
            </footer>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
{% endblock %}