{% extends 'dashboard/base.html' %}
{% load static%}
{% block content %}
<style>
    .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

table, th, td 
    {
        border-bottom: 1px solid #ddd;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    th {
        font-weight:bold;
    }

    .legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


</style>

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">                <!-- Main container -->

    <div class="field_wrapper arrange">
     <h4 style="color: brown;font-family: monospace;">Census 2011 <br></h4>
        <hr>
        <div>
            <select class='form-control' id="amenities" >
              <option>Select Themes</option>

              <option>Village Amenities</option>
              <option>Household Amenities</option>
              <option>Town Amenities</option>
              <option >Demographics</option>
              <option>Admin Boundaries</option>
              <!-- <option >Ground water recharge priorities(GSDA)</option> -->
              <!-- <option >Waterbodies</option> -->
            </select>
            <br>
             <select class='form-control' name="field_name[]" style="">
              <option value="All">Select District</option>
              <optgroup label="Vidarbh(East)">
                  <option value="Akola">Akola</option>
                  <option value="Amrawati">Amrawati</option>
                  <option value="Buldana">Buldana</option>
                  <option value="Yavatmal">Yavatmal</option>
                  <option value="Washim">Washim</option>
              </optgroup>
              <optgroup label="Marathwada">
                  <option value="Aurangabad">Aurangabad</option>
                  <option value="Beed">Beed</option>
                  <option value="Jalna">Jalna</option>
                  <option value="Osmanabad">Osmanabad</option>
                  <option value="Nanded">Nanded</option>
                  <option value="Latur">Latur</option>
                  <option value="Parbhani">Parbhani</option>
                  <option value="Hingoli">Hingoli</option>
              </optgroup>
              <!-- /dashboard/census -->
              <optgroup label="Kokan">
                  <option value="Mumbai City">Mumbai City</option>
                  <option value="Mumbai Suburban">Mumbai Suburban</option>
                  <option value="Thane">Thane</option>
                  <option value="Palghar">Palghar</option>
                  <option value="Raigad">Raigad</option>
                  <option value="Ratnagiri">Ratnagiri</option>
                  <option value="Sindhudurg">Sindhudurg</option>
              </optgroup>
    
            <optgroup label="Vidarbh(West)">
                  <option value="Bhandara">Bhandara</option>
                  <option value="Gadchiroli">Gadchiroli</option>
                  <option value="Chandrapur">Chandrapur</option>
                  <option value="Gondia">Gondia</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Wardha">Wardha</option>
              </optgroup>
    
                <optgroup label="Khandesh">
                  <option value="Ahmednagar">Ahmednagar</option>
                  <option value="Dhule">Dhule</option>
                  <option value="Jalgaon">Jalgaon</option>
                  <option value="Nandurbar">Nandurbar</option>
                  <option value="Nashik">Nashik</option>
              </optgroup>
    
            
                <optgroup label="Paschim Maharashtra">
                  <option value="Kolhapur">Kolhapur</option>
                  <option value="Pune">Pune</option>
                  <option value="Sangli">Sangli</option>
                  <option value="Satara">Satara</option>
                  <option value="Solapur">Solapur</option>
              </optgroup>
            </select> 
    
            <br>
    
            <a href="javascript:void(0);" class="add_button" title="Add field"><button style="float: right;"><span class="fa fa-plus"></button></a>
        </div>
    </div>
    
    <div id = 'selectedata'></div>
    <button class = 'btn btn-success' onclick="showLayers()">Show Layers</button>
    <!-- <button onclick="myDistrictLayerList.forEach(clearAllLayers)">Clear All Layers</button> -->
    <button class = 'btn btn-danger'onclick="clearAllLayers()">Clear All Layers</button>
    <!-- {% if user.groups.all.0.name != "restricted" %} -->
    <!-- <button class = 'btn btn-dark'onclick="downloadLayers()">Download Layer</button> -->
    <!-- <div class="alert alert-info">
        <strong>Info!</strong> Select only single layer to download.
      </div> -->
      <!-- <div class="alert alert-warning">
        <strong>!</strong> Please wait downloading may take some time.
      </div> -->
      <div style="text-align: center"> 
        <button style="display: inline-block ;position: relative;top: 100px" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="fa fa-power-off"></span></button> 
    </div>
    <iframe id="my_iframe" style="display:none;"></iframe>
    {% endif %}
    {% if user.groups.all.0.name == "restricted" %}
    <div class="alert alert-warning">
        <strong>!</strong> please register to download layers.
      </div>
    {% endif%}
</div>

<script>
    var x = 1; //Initial field counter is 1
// $(document).ready(function(){
    var maxField = 10; //Input fields increment limitation
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var dropdown = `<select name="field_name[]" ><option value="Akola">Akola</option><option value="Amrawati">Amrawati</option></select>`;
    

    var fieldHTML = `<div>Select District:
         <select class='form-control' name="field_name[]" >
          <option value="All">All</option>
          <optgroup label="Vidarbh(East)">
              <option value="Akola">Akola</option>
              <option value="Amrawati">Amrawati</option>
              <option value="Buldana">Buldana</option>
              <option value="Yavatmal">Yavatmal</option>
              <option value="Washim">Washim</option>
          </optgroup>
          <optgroup label="Marathwada">
              <option value="Aurangabad">Aurangabad</option>
              <option value="Beed">Beed</option>
              <option value="Jalna">Jalna</option>
              <option value="Osmanabad">Osmanabad</option>
              <option value="Nanded">Nanded</option>
              <option value="Latur">Latur</option>
              <option value="Parbhani">Parbhani</option>
              <option value="Hingoli">Hingoli</option>
          </optgroup>

          <optgroup label="Kokan">
              <option value="Mumbai City">Mumbai City</option>
              <option value="Mumbai Suburban">Mumbai Suburban</option>
              <option value="Thane">Thane</option>
              <option value="Palghar">Palghar</option>
              <option value="Raigad">Raigad</option>
              <option value="Ratnagiri">Ratnagiri</option>
              <option value="Sindhudurg">Sindhudurg</option>
          </optgroup>

        <optgroup label="Vidarbh(West)">
              <option value="Bhandara">Bhandara</option>
              <option value="Gadchiroli">Gadchiroli</option>
              <option value="Chandrapur">Chandrapur</option>
              <option value="Gondia">Gondia</option>
              <option value="Nagpur">Nagpur</option>
              <option value="Wardha">Wardha</option>
          </optgroup>

            <optgroup label="Khandesh">
              <option value="Ahmednagar">Ahmednagar</option>
              <option value="Dhule">Dhule</option>
              <option value="Jalgaon">Jalgaon</option>
              <option value="Nandurbar">Nandurbar</option>
              <option value="Nashik">Nashik</option>
          </optgroup>

        
            <optgroup label="Paschim Maharashtra">
              <option value="Kolhapur">Kolhapur</option>
              <option value="Pune">Pune</option>
              <option value="Sangli">Sangli</option>
              <option value="Satara">Satara</option>
              <option value="Solapur">Solapur</option>
          </optgroup>
        </select> <a href="javascript:void(0);" class="remove_button"><button style="float: right;"><span class="fa fa-minus"></button></a></div>`; //New input field html 

    
    
    //Once add button is clicked
    $(addButton).click(function(){
        //Check maximum number of input fields
            x++;
            $(wrapper).append(fieldHTML); //Add field html
    });
    
    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
// });
var myDistrictLayerList = [];

function showLayers(){
    var check = x;
    clearAllLayers();
    var amenity = document.getElementById('amenities').value;
    for (i = 0; i < check; i++) {
    var dis = document.getElementsByName("field_name[]")[i].value;
    addMyNewLayers(amenity,dis);
    // console.log(myDistrictLayerList);
    }

}

function downloadLayers(){
  var check = x;
    var amenity = document.getElementById('amenities').value;
    for (i = 0; i < check; i++) {
    var dis = document.getElementsByName("field_name[]")[i].value;
    downloadTheseLayers(amenity,dis);
    // console.log(myDistrictLayerList);
    }
}
//object
var listOfDistrict = ['All','Akola','Amrawati','Buldana','Yavatmal','Washim','Aurangabad','Beed','Jalna','Osmanabad','Nanded','Latur','Parbhani','Hingoli','Mumbai City','Mumbai Suburban','Thane','Palghar','Raigad','Ratnagiri','Sindhudurg','Bhandara','Gadchiroli','Chandrapur','Gondia','Nagpur','Wardha','Ahmednagar','Dhule','Jalgaon','Nandurbar','Nashik','Kolhapur','Pune','Sangli','Satara','Solapur'];

// var villageLayerCode = ['geonode:village_1','geonode:akola','geonode:amravati','geonode:buldhana','geonode:yavatmal','geonode:washim','geonode:aurangabad','geonode:beed','geonode:jalna','geonode:osmanabad','geonode:nanded','geonode:latur','geonode:parbhani','geonode:hingoli','','','geonode:v_thane','geonode:v_palghar','geonode:raigad','geonode:ratnagiri','geonode:sindhudurg','geonode:bhandara','geonode:gadchiroli','geonode:chandrapur','geonode:gondia','geonode:nagpur','geonode:wardha','geonode:ahmednagar','geonode:dhule','geonode:jalgaon','geonode:nandurbar','geonode:nashik','geonode:kolhapur','geonode:pune','geonode:sangli','geonode:satara','geonode:solapur']
// var houseLayerCode = ['geonode:household','geonode:h_akola','geonode:h_amravati','geonode:h_buldhana','geonode:h_yavatmal','geonode:h_washim','geonode:h_aurangabad','geonode:h_beed','geonode:h_jalna','geonode:h_osmanabad','geonode:h_nanded','geonode:h_latur','geonode:h_parbhani','geonode:h_hingoli','geonode:h_mumbai_city','geonode:h_mumbai_suburban','geonode:h_thane','geonode:h_palghar','geonode:h_raigarh','geonode:h_ratnagiri','geonode:h_sindhudurg','geonode:h_bhandara','geonode:h_gadchiroli','geonode:h_chandrapur','geonode:h_gondia','geonode:h_nagpur','geonode:h_wardha','geonode:h_ahmadnagar','geonode:h_dhule','geonode:h_jalgaon','geonode:h_nandurbar','geonode:h_nashik','geonode:h_kolhapur','geonode:h_pune','geonode:h_sangli','geonode:h_satara','geonode:h_solapur'];
// var townLayerCode= ['geonode:town','geonode:t_akola','geonode:t_amravati','geonode:t_buldana','geonode:t_yavatmal','geonode:t_washim','geonode:t_aurangabad','geonode:t_beed','geonode:t_jalna','geonode:t_osmanabad','geonode:t_nanded','geonode:t_latur','geonode:t_parbhani','geonode:t_hingoli','geonode:t_mumbai_city','geonode:t_mumbai_suburban','geonode:t_thane','geonode:t_palghar','geonode:t_raigarh','geonode:t_ratnagiri','geonode:t_sindhudurg','geonode:t_bhandara','geonode:t_gadchiroli','geonode:t_chandrapur','geonode:t_gondiya','geonode:t_nagpur','geonode:t_wardha','geonode:t_ahmadnagar','geonode:t_dhule','geonode:t_jalgoan','geonode:t_nandurbar','geonode:t_nashik','geonode:t_kolhapur','geonode:t_pune','geonode:t_sangli','geonode:t_satara','geonode:t_solapur'];
//var demoLayerCode = ['geonode:demography','geonode:d_akola','geonode:d_amravati','geonode:d_buldhana','geonode:d_yavatmal','geonode:d_washim','geonode:d_aurangabad','geonode:d_beed','geonode:d_jalna','geonode:d_osmanabad','geonode:d_nanded','geonode:d_latur','geonode:d_parbhani','geonode:d_hingoli','geonode:d_mumbai_city','geonode:d_mumbai_suburban','geonode:d_thane','geonode:d_palghar','geonode:d_raigarh','geonode:d_ratnagiri','geonode:d_sindhudurg','geonode:d_bhandara','geonode:d_gadchiroli','geonode:d_chandrapur','geonode:d_gondia','geonode:d_nagpur','geonode:d_wardha','geonode:d_ahmadnagar','geonode:d_dhule','geonode:d_jalgaon','geonode:d_nandurbar','geonode:d_nashik','geonode:d_kolhapur','geonode:d_pune','geonode:d_sangli','geonode:d_satara','geonode:d_solapur'];
var villageLayerCode = ['geonode:VillageCensus_maharashtra_1_0','Akola','Amravati','Buldana','Yavatmal','Washim','Aurangabad','Bid','Jalna','Osmanabad','Nanded','Latur','Parbhani','Hingoli','mumbai_city','mumbai_suburban','Thane','Palghar','Raigarh','Ratnagiri','Sindhudurg','Bhandara','Gadchiroli','Chandrapur','Gondia','Nagpur','Wardha','Ahmadnagar','Dhule','Jalgaon','Nandurbar','Nashik','Kolhapur','Pune','Sangli','Satara','Solapur'];

var houseLayerCode = ['geonode:household','Akola','Amravati','Buldana','Yavatmal','Washim','Aurangabad','Bid','Jalna','Osmanabad','Nanded','Latur','Parbhani','Hingoli','mumbai_city','mumbai_suburban','Thane','Palghar','Raigarh','Ratnagiri','Sindhudurg','Bhandara','Gadchiroli','Chandrapur','Gondia','Nagpur','Wardha','Ahmadnagar','Dhule','Jalgaon','Nandurbar','Nashik','Kolhapur','Pune','Sangli','Satara','Solapur'];

var townLayerCode = ['geonode:town','AKOLA','AMRAVATI','BULDANA','YAVATMAL','WASHIM','AURANGABAD','BID','JALNA','OSMANABAD','NANDED','LATUR','PARBHANI','HINGOLI *','mumbai_city','mumbai_suburban','THANE','Palghar','RAIGARH','RATNAGIRI','SINDHUDURG','BHANDARA','GADCHIROLI','CHANDRAPUR','GONDIYA *','NAGPUR','WARDHA','AHMADNAGAR','DHULE','JALGAON','NANDURBAR','NASHIK','KOLHAPUR','PUNE','SANGLI','SATARA','SOLAPUR'];

var demoLayerCode = ['geonode:maha_demography','akola','amravati','buldhana','yavatmal','washim','aurangabad','beed','jalna','osmanabad','nanded','latur','parbhani','hingoli','mumbai_city','mumbai_suburban','thane','palghar','raigarh','ratnagiri','sindhudurg','bhandara','gadchiroli','chandrapur','gondia','nagpur','wardha','ahmadnagar','dhule','jalgaon','nandurbar','nashik','kolhapur','pune','sangli','satara','solapur'];

var adminLayerCode = ['geonode:maha_rural_plus_urban','akola','amravati','buldhana','yavatmal','washim','aurangabad','beed','jalna','osmanabad','nanded','latur','parbhani','hingoli','mumbai_city','mumbai_suburban','thane','palghar','raigad','ratnagiri','sindhudurg','bhandara','gadchiroli','chandrapur','gondia','nagpur','wardha','ahmednagar','dhule','jalgaon','nandurbar','nashik','kolhapur','pune','sangli','satara','solapur'];
var districtLat = [19.076,20.7002,20.9374,20.4561,20.3888,20.139,19.8762,18.9891,19.8297,18.207,19.1383,18.4088,19.2644,19.5781,19.0176,19.1538,19.2183,19.6936,18.5158,16.9902,16.3492,21.0736,19.4969,19.9615,21.4624,21.1458,20.7453,19.0948,20.9042,21.0077,21.7469,19.9975,16.705,18.5204,16.8524,17.6805,17.6599];
var districtLong = [72.8777,77.0082,77.7796,76.3637,78.1204,77.1025,75.3433,75.7601,75.88,76.1784,77.321,76.5604,76.6413,77.1025,72.8561,72.8752,72.9781,72.7655,73.1822,73.312,73.5594,79.8297,80.2767,79.2961,80.221,79.0882,78.6022,74.748,74.7749,75.5626,74.124,73.7898,74.2433,73.8567,74.5815,74.0183,74.9064];
var districtZoom = [7,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8];


var LayerList = [];

const domain = ['http://makerghat.urbansciences.in/','http://localhost/'];

var rootUrl = domain[0] + 'geoserver/geonode/ows';

var defaultParameters = {
service: 'WFS',
version: '1.0.0',
request: 'GetFeature',
outputFormat: 'application/json'
};


function clearAllLayers(){
    for (var i = myDistrictLayerList.length - 1; i >= 0; i--) {
        source.getLayer(myDistrictLayerList[i]).addTo(mymap).remove(mymap);;
        
    }

 LayerList.forEach(layer => mymap.removeLayer(layer));


}
function addMyNewLayers(amenity,dis){
   var index = listOfDistrict.indexOf(dis);
   mymap.setView([districtLat[index], districtLong[index]], districtZoom[index]);
   
// var base_url = "https://makerghat.urbansciences.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=application/json&";


var tempParameter = defaultParameters;
if(amenity === 'Village Amenities'){
    if(villageLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        tempParameter.typeName = "geonode:villagecensus_maharashtra_1_0 ";
        tempParameter.cql_filter="district_n='"+villageLayerCode[index]+"'";
        tempParameter.propertyName="fid,the_geom,census_201,village_na,taluka_nam,govt_pre_1,govt_pri_1,tot_popu";

        displayPolygon(tempParameter,districtLat[index],districtLong[index]);
        //  console.log(tempParameter);
        legend.addTo(mymap);
        info.addTo(mymap);

        myDistrictLayerList.push(villageLayerCode[index]);
        } 
    }
else if(amenity === 'Household Amenities'){
    if(houseLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        tempParameter.typeName = "geonode:household";
        tempParameter.cql_filter="district_n='"+houseLayerCode[index]+"'";
        tempParameter.propertyName="fid,the_geom,census_201,area_name,taluka_nam,district_n,msdw_taput,mroof_gra,plat_vent,nobathroom";
        info.addTo(mymap);
        mymap.removeControl(legend);
        //tempParameter.propertyName="id,the_geom,district_n,area_name,tot_p,tot_f,tot_m,p_ill,p_lit";    
    //     var base_url = "https://makerghat.urbansciences.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&outputFormat=application/json&";
    // layer_url =base_url + "&typeName=geonode%3Ahousehold&cql_filter=district_n='"+houseLayerCode[index]+"'";
    displayPolygon(tempParameter,districtLat[index],districtLong[index]);

    //  console.log(tempParameter);

     myDistrictLayerList.push(houseLayerCode[index]);
        } 
    }
    else if(amenity == 'Town Amenities'){
         if(townLayerCode[index] == ''){
            alert('layer of '+ dis + ' not found');
        }else{
            tempParameter.typeName = "geonode:town";
            tempParameter.cql_filter="district_n='"+townLayerCode[index]+"'";
            tempParameter.propertyName="fid,the_geom,census_201,district_n,town_name,civic_stat,sex_rati_2,tot_pop";
            legend.addTo(mymap);
            info.addTo(mymap);

            displayPolygon(tempParameter,districtLat[index],districtLong[index]);

    // //    console.log(layer_url);

        myDistrictLayerList.push(townLayerCode[index]);
        } 
    }
    else if(amenity === 'Demographics'){
        if(demoLayerCode[index] == ''){
            alert('layer of '+ dis + ' not found');
        }else{
            tempParameter.typeName = "geonode:maha_demography";
            tempParameter.cql_filter="district_n='"+demoLayerCode[index]+"'";
            tempParameter.propertyName="id,the_geom,district_n,area_name,tot_p,tot_f,tot_m,p_ill,p_lit";
            legend.addTo(mymap);
            info.addTo(mymap);
            displayPolygon(tempParameter,districtLat[index],districtLong[index]);
            myDistrictLayerList.push(demoLayerCode[index]);
        } 
     }
    else if(amenity === 'Admin Boundaries'){
        if(adminLayerCode[index] == ''){
            alert('layer of '+ dis + ' not found');
        }else{
            tempParameter.typeName = "geonode:maha_rural_plus_urban";
            tempParameter.cql_filter="district_n='"+adminLayerCode[index]+"'";
            tempParameter.propertyName="the_geom,state_name,district_n,taluka_n,village_n,area_type";
            legend.addTo(mymap);
            info.addTo(mymap);
            displayPolygon(tempParameter,districtLat[index],districtLong[index]);
            myDistrictLayerList.push(adminLayerCode[index]);
        } 
    }    
    else{
    alert('Data for '+amenity+' not Populated');
    }
   

}


function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}

function zoomToFeature(e) {
    mymap.fitBounds(e.target.getBounds());
}


function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}
function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
        
    });
    info.update(layer.feature.properties);
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}

//  custom control 
var info = L.control({position:"bottomright"});

info.onAdd = function (mymap) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

info.update = function (props) {
    var amenity = document.getElementById('amenities').value;

    // console.log(amenity);
    if(amenity === 'Demographics'){
        this._div.innerHTML = '<h4 class= "text-center">Demographics Information</h4><hr>' +  (props ?
        "<table><tr><td>District Name</td><td><b>"+props.district_n+"<b></td></tr>"+
        "<tr><td>Village Name</td><td>"+props.area_name+"</td></tr>"+
        "<tr><td>Total Population</td><td>"+props.tot_p+"</td></tr>"+
        "<tr><td>Total Female Population</td><td>"+props.tot_f+"</td></tr>"+
        "<tr><td>Total Male Population</td><td>"+props.tot_m+"</td></tr>"+
        "<tr><td>Illetrate population</td><td>"+props.p_ill+"</tr>"+
        "<tr><td>Literate: Population</td><td>"+props.p_lit+"</tr></table>"
        : 'Please hover over the Area');
    }else if (amenity === 'Town Amenities'){
        this._div.innerHTML = '<h4 class= "text-center">Town Information</h4><hr>' +  (props ?
        "<table><tr><td>Census Code</td><td><b>"+props.census_201+"<b></td></tr>"+
        "<tr><td>District Name</td><td><b>"+props.district_n+"<b></td></tr>"+
        "<tr><td>Town Name</td><td>"+props.town_name+"</td></tr>"+
        "<tr><td>Civic Status</td><td>"+props.civic_stat+"</td></tr>"+
        "<tr><td>Sex Ratio 2011</td><td>"+props.sex_rati_2+"</td></tr></table>"
        // "<tr><td>Road distance to Railway Station</td><td>"+props.tot_mpop+"</td></tr>"
        // "<tr><td>Road distance to Bus Stand</td><td>"+props.tot_mpop+"</td></tr>"
            : 'Please hover over the Town');
    }else if (amenity === 'Household Amenities'){
        this._div.innerHTML = '<h4 class= "text-center">Household Information</h4><hr>' +  (props ?
        "<table><tr><td>Census Code</td><td><b>"+props.census_201+"<b></td></tr>"+
        "<tr><td>Area Name</td><td><b>"+props.area_name+"<b></td></tr>"+
        "<tr><td>Taluka Name</td><td><b>"+props.taluka_nam+"<b></td></tr>"+
        "<tr><td>District Name</td><td><b>"+props.district_n+"<b></td></tr>"+    
        "<tr><td>% of Untreated Tap water as Drinking water</td><td><b>"+props.msdw_taput+"<b></td></tr>"+    
        "<tr><td>% of Thratched Roof type</td><td><b>"+props.mroof_gra+"<b></td></tr>"+    
        "<tr><td>% of Pit Latrine with Slab/Ventilated improved pit</td><td><b>"+props.plat_vent+"<b></td></tr>"+    
        "<tr><td>% sof Bathroom without Roof</td><td><b>"+props.nobathroom+"<b></td></tr></table>"
            : 'Please hover over the Area');
    }else if (amenity === 'Village Amenities'){
        this._div.innerHTML = '<h4 class= "text-center">Village Information</h4><hr>' +  (props ?
        "<table><tr><td>Census Code</td><td><b>"+props.census_201+"<b></td></tr>"+
        "<tr><td>Village Name</td><td><b>"+props.village_na+"<b></td></tr>"+
        "<tr><td>Taluka Name</td><td><b>"+props.taluka_nam+"<b></td></tr>"+
        "<tr><td>Number of Govt Pre-Primary School</td><td><b>"+props.govt_pre_1+"<b></td></tr>"+
        "<tr><td>Number of Govt Primary School</td><td><b>"+props.govt_pri_1+"<b></td></tr></table>"
            : 'Please hover over a Village');
    }else if (amenity === 'Admin Boundaries'){
        this._div.innerHTML = '<h4 class= "text-center">Area Information</h4><hr>' +  (props ?
        "<table><tr><td>State Name</td><td><b>"+props.state_name+"<b></td></tr>"+
        "<tr><td>District Name</td><td><b>"+props.district_n+"<b></td></tr>"+
        "<tr><td>Village Name</td><td><b>"+props.village_n+"<b></td></tr>"+
        "<tr><td>Taluka Name</td><td><b>"+props.taluka_n+"<b></td></tr>"+
        "<tr><td>Area Type</td><td><b>"+props.area_type+"<b></td></tr>"
        
            : 'Please hover over any area');
    }
    else
    {
        alert("No information Available");
    }



};


function getColor(d) {
    return d > 5000 ? '#008080' :
            d > 2000 ? '#5F9EA0' :
           d > 1000  ? '#40E0D0' :
           d > 0  ? '#00FFFF' :
                      '#FFEDA0';
}

function style(feature) {
    if(feature.properties.tot_p){
        return {
        fillColor: getColor(feature.properties.tot_p),
        weight: 3,
        opacity: 1,
        color: 'white',
        fillOpacity: 0.9
    };
    }else if(feature.properties.tot_pop){
        return {
        fillColor: getColor(feature.properties.tot_pop),
        weight: 3,
        opacity: 1,
        color: 'white',
        fillOpacity: 0.9
    };
    }else if(feature.properties.tot_popu){
        return {
        fillColor: getColor(feature.properties.tot_popu),
        weight: 3,
        opacity: 1,
        color: 'white',
        fillOpacity: 0.9
    };
    }
    
}

var legend = L.control({position: 'bottomright'});

legend.onAdd = function (mymap) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 1000, 2000,5000],
        labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
    div.innerHTML += "<h4>Population range</h4><hr>";
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};






function displayPolygon(param_obj,lat,long){

var parameters = L.Util.extend(param_obj);
layer_url = rootUrl + L.Util.getParamString(parameters)
LayerList.forEach(layer => mymap.removeLayer(layer));
// console.log(layer_url);
mymap.spin(true,{lines: 15, length: 1, width: 50, scale: 200,radius: 200, color: "grey"});
fetch(layer_url)
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    // Examine the text in the response
    response.json().then(function(geojsonData) {
        // console.log(geojsonData.features);
        mymap.setView([lat, long], 11);
        geojson = L.geoJson(geojsonData.features, {
        style : style,
        onEachFeature: onEachFeature
    }).addTo(mymap);
    LayerList.push(geojson);
    mymap.spin(false);

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
});
// }

    
}

function removeMyNewLayers(amenity,dis){
   var index = listOfDistrict.indexOf(dis);
   source.getLayer(villageLayerCode[index]).addTo(mymap).remove(mymap);;

}


</script>




{% endblock %}
