{% extends 'dashboard/base.html' %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    
.select {
    background-color: rgb(116, 109, 109);

    width: 40%;
    margin-left: 100px;;
    color: white;

    
    
}
.select.highlight {
    background:rgb(0, 0, 0);
    color:white;
}
.collapsible {
  background-color: rgba(116, 109, 109, 0.61);
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  margin-left: 50px;
  width: 40%;
  /* border: none; */
  border-radius:50px;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: 1000;
}
.active, .collapsible:hover {
  background-color: #000;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 10px;
}

.heading{
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    vertical-align: middle;
    margin: 0;
  
    

}


.spacing{
    margin-bottom: 20px;;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0);
    border-style: hidden;
}


.box{
    margin:10px;
    background-color: rgba(180, 219, 224, 0.281);
    /* border: 5px solid rgb(255, 0, 0); */
    border-radius: 0px 0px 0px 25px;

}

</style>

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">                <!-- Main container -->

  <h2 style="color: brown;">Education and Skill Development Theme</h2>
  <hr>
  <div class="box">
        <section class = 'heading'>Maharashtra Village and Town Boundaries</section><br>
<div style="text-align:center">
        <button class = 'btn btn-secondary ' onclick="addVillageLayer()">Add </button>
        <button class = 'btn btn-secondary  ' onclick="removeVillageLayer()">Remove</button>
</div>
    </div>
  
<ul class="list-group">
        <div class="box">
                <section class = 'heading'>Rural Amenity</section><br>
                <button class="collapsible" >Polytechnics</button>
                <div class="content">
                    <!-- <li class="list-group-item list-group-item-info"><button onclick="himam('P_All')" class="btn select">All</button></li> -->
                    <li class="list-group-item list-group-item-info"><button onclick="himam('P_Government')" class="btn btn-secondary select">Government</button></li>
                    <li class="list-group-item list-group-item-info"><button onclick="himam('P_Private')" class="btn btn-secondary select">Private</button></li>

                </div>


                
            <br>
            
            <button class="collapsible">ITI</button>
                <div class="content">
                    <!-- <li class="list-group-item list-group-item-info"><button class="btn select"  onclick="himam('I_All')">All</button></li> -->
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="himam('I_Government')">Government</button></li>
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="himam('I_Private')">Private</button></li>

                    
                </div>
        </div>
            
        <hr>
        <div class="box">
                <section class = 'heading'>Urban Amenity(Under Development)</section><br>
                <button class="collapsible">Polytechnics</button>
                <div class="content">
                    <!-- <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>All</button></li> -->
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>Government</button></li>
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>Private</button></li>

                </div>


                
            <br>
            <button class="collapsible">ITI</button>
                <div class="content">
                    <!-- <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>All</button></li> -->
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>Government</button></li>
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="";>Private</button></li>

                    
                </div>
        <div>
        
</ul> 
<div style="text-align: center"> 
        <button style="display: inline-block ;position: relative;top: 100px" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="glyphicon glyphicon-off"></span></button> 
    </div>
    </div>


    <script>
    var lat=19.7515,long= 75.7139;
    mymap.setView([lat,long],7);

    function himam(maleg) {
   
    
    tempParameter = defaultParameters;
    if(maleg === 'P_All'){
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='govt_poly_=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,govt_poly_,govt_pol_1";
        displayPoints(tempParameter);   
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='priv_poly_=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,priv_poly_,priv_pol_1";
        displayPoints(tempParameter); 
    }
    else if(maleg === 'P_Government')
    {
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='govt_poly_=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,govt_poly_,govt_pol_1";
        displayPoints(tempParameter,maleg);   
        
    
    }
    else if(maleg === 'P_Private'){
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='priv_poly_=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,priv_poly_,priv_pol_1";
        displayPoints(tempParameter,maleg); 

    }
    else if(maleg === 'I_All'){
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='govt_voc_s_=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,govt_voc_s,govt_voc_n";
        displayPoints(tempParameter); 
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='priv_voc_s=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,priv_voc_s,priv_voc_n";
        displayPoints(tempParameter); 

    }
    else if(maleg === 'I_Government'){
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='govt_voc_s=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,govt_voc_s";
        displayPoints(tempParameter,maleg);

        
    }
    else{
        tempParameter.typeName ='geonode:maha_village_edu_centroid' ;
        tempParameter.cql_filter='priv_voc_s=1';
        tempParameter.propertyName="the_geom,id,st_x,st_y,census_201,district_n,village_na,priv_voc_s,priv_voc_n";
        displayPoints(tempParameter,maleg); 

    }

};


const domain = ['https://makerghat.urbansciences.in/','http://localhost/'];

var rootUrl = domain[0] + 'geoserver/geonode/ows';
var village_layer;
function addVillageLayer(){
    village_layer = source.getLayer('geonode:maha_rural_plus_urban');
    village_layer.addTo(mymap);
}

function clearLayer(){
    LayerList.forEach(layer => mymap.removeLayer(layer));
    
}
var myLayerList= new Object();
var index;
function displayPoints(param,key){
point_url = rootUrl + L.Util.getParamString(param);

fetch(point_url)
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    response.json().then(function(jsonData) {

        geojson = L.geoJson(jsonData.features, {
                pointToLayer: function (feature,latlng) {
                 if(feature.properties.govt_poly_){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'building', markerColor: 'green', prefix: 'fa', size:'5px' }) });
                 }
                 else if(feature.properties.priv_poly_){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'building', markerColor: 'blue', prefix: 'fa' }) });
                 }
                 else if(feature.properties.govt_voc_s){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'warehouse', markerColor: 'green', prefix: 'fa' }) });
                 }
                 else{
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'warehouse', markerColor: 'blue', prefix: 'fa' }) });
                 }
                
    },
    
    });
    
var index = myLayerList[key];
if(index){                                  //if layer is present
    mymap.removeLayer(index);
    delete myLayerList[key];
    
}if(!index){                                //if layer is not present
    geojson.addTo(mymap);
    myLayerList[key]=geojson;

}

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
});
  
}


function removeVillageLayer(){
    if(village_layer){
        mymap.removeLayer(village_layer);
    }
}
var defaultParameters = {
service: 'WFS',
version: '1.0.0',
request: 'GetFeature',
outputFormat: 'application/json'
};

   
$('.select').click(function () {
        $(this).toggleClass('highlight')
    })
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<div id="mapdiv" class="col-md-12"></div>



{% endblock %}
