{% extends 'dashboard/base.html' %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    
.select {
    background-color: rgb(116, 109, 109);

    width: 40%;
    margin-left: 100px;;
    color: white;

    
    
}
.select.highlight {
    background:rgb(0, 0, 0);
    color:white;
}
.but {
  background-color:turquoise;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  margin-left: 50px;
  width: 40%;
  /* border: none; */
  border-radius:50px;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: 1000;
}
.active, .but:hover {
  background-color: #000;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 10px;
}

.heading{
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    vertical-align: middle;
    margin: 0;
  
    

}


.spacing{
    margin-bottom: 20px;;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0);
    border-style: hidden;
}


.box{
    margin:10px;
    background-color: rgba(180, 219, 224, 0.281);
    /* border: 5px solid rgb(255, 0, 0); */
    border-radius: 0px 0px 0px 25px;

}
table, th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}
tr:hover {
    background-color: #6e6e6e;
}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

.leaflet-popup-content{
    font-weight: bold;
}
</style>

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">                <!-- Main container -->

  <h2 style="color: brown;">Education and Skill Development Theme</h2>
  <hr>
  <div class="box">
        <section class = 'heading'>Maharashtra Taluka Boundaries</section><br>
<div style="text-align:center">
        <button class = 'btn btn-secondary ' onclick="addVillageLayer()">Add </button>
        <button class = 'btn btn-secondary  ' onclick="removeVillageLayer()">Remove</button>
</div>
    </div>
  
<ul class="list-group">
        <div class="box">
                <section class ='heading'>Education and Skill Amenity</section><br>
                <button class="but" onclick="layerload('poly')">Polytechnics</button>
                <button class="but" onclick="layerload('iti')" >ITI</button>
                <button class="but" onclick="layerload('bifo')" >Bifocals</button>
                <button class="but" onclick="layerload('vti')" >VTI</button>

    
        </div>
            
        <hr>
     
        
</ul> 
<div style="text-align: center"> 
        <button style="display: inline-block ;position: relative;top: 100px" id="closebutton" name="closebutton" class="btn btn-secondary"><span class="glyphicon glyphicon-off"></span></button> 
    </div>
    </div>


    <script>
    var lat=19.7515,long= 75.7139;
    mymap.setView([lat,long],7);
    var LAYER,insti_content;

    function layerload(maleg) {
    clearAllLayers();
    if(wms_legend){
    mymap.removeControl(wms_legend);
    } 
    tempParameter = defaultParameters;
    if(maleg === 'poly'){
        
        mmxlayer = new L.tileLayer.wms('http://makerghat.urbansciences.in/geoserver/geonode/ows', {

        layers: 'geonode:maha_village_edu_centroid_ver2',
        format: 'image/png',
        //cql_filter:"govt_poly_=1 or priv_poly_=1" ,
        version: '1.3.0',
        transparent: true,
    });
    mmxlayer.addTo(mymap);
    addWMSLegend(mmxlayer.options.layers);

    LAYER = "http://makerghat.urbansciences.in/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS="+mmxlayer.options.layers+"&QUERY_LAYERS="+mmxlayer.options.layers;
    LayerList.push(mmxlayer);


    }
    
    
    else if(maleg === 'iti'){
       
        mmylayer = new L.tileLayer.wms('http://makerghat.urbansciences.in/geoserver/geonode/ows', {

        layers: 'geonode:iti_23nov_mapped',
        format: 'image/png',
        version: '1.3.0',
        transparent: true,
        
        // cql_filter: "district_n='"+villageLayerCode[index]+"'",
        // style: "maha_demo_style_v1.sld",
      
        });
        mmylayer.addTo(mymap);
        addWMSLegend(mmylayer.options.layers);

        LAYER = "http://makerghat.urbansciences.in/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS="+mmylayer.options.layers+"&QUERY_LAYERS="+mmylayer.options.layers;
        LayerList.push(mmylayer);
        }

        else if(maleg === 'vti'){
        
        mmvlayer = new L.tileLayer.wms('http://makerghat.urbansciences.in/geoserver/geonode/ows', {

        layers: 'geonode:maha_vti_institute_18nov',
        format: 'image/png',
        version: '1.3.0',
        transparent: true,
        
       
      
        });
        mmvlayer.addTo(mymap);
        // addWMSLegend(mmvlayer.options.layers);

        LAYER = "http://makerghat.urbansciences.in/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS="+mmvlayer.options.layers+"&QUERY_LAYERS="+mmvlayer.options.layers;

        LayerList.push(mmvlayer);
        }
        
    //bifocal amenity is being displayed through else part
    else{
        mmzlayer = new L.tileLayer.wms('http://makerghat.urbansciences.in/geoserver/geonode/ows', {

        layers: 'geonode:maha_bifocul_insti_17nov',
        format: 'image/png',
        version: '1.3.0',
        transparent: true,
    });
    mmzlayer.addTo(mymap);
    // addWMSLegend(mmzlayer.options.layers);

    LAYER = "http://makerghat.urbansciences.in/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS="+mmzlayer.options.layers+"&QUERY_LAYERS="+mmzlayer.options.layers;

    LayerList.push(mmzlayer);


    }






function Identify(e)
{
// set parameters needed for GetFeatureInfo WMS request
var sw = mymap.options.crs.project(mymap.getBounds().getSouthWest());
var ne = mymap.options.crs.project(mymap.getBounds().getNorthEast());
var BBOX = sw.x + "," + sw.y + "," + ne.x + "," + ne.y;
var WIDTH = mymap.getSize().x;
var HEIGHT = mymap.getSize().y;

var X = Math.trunc(mymap.layerPointToContainerPoint(e.layerPoint).x);
var Y = Math.trunc(mymap.layerPointToContainerPoint(e.layerPoint).y);

// compose the URL for the request


var URL = LAYER + '&BBOX='+BBOX+'&FEATURE_COUNT=1&HEIGHT='+HEIGHT+'&WIDTH='+WIDTH+'&INFO_FORMAT=application%2Fjson&TILED=false&CRS=EPSG%3A3857&I='+X+'&J='+Y;
// console.log(URL);
//send GetFeatureInfo as asynchronous HTTP request using jQuery $.ajax

$.ajax({
    url: URL,
    dataType: "json",
    type: "GET",
    success: function(data)
    {
        if(data.features.length !== 0) {  // at least one feature returned in response
        var feature = data.features[0]; // first feature from response
        // console.log(feature);
        // Set up popup for clicked feature and open it
        var popup = new L.Popup({
            maxWidth: 300
        });

        if(maleg === 'poly'){
            insti_content = "<table class = 'popupclass' ><tr><td><b>District</b></td><td>"+feature.properties.district_n+"</td></tr>"+
                            "<tr><td><b>Taluka</b></td><td>"+feature.properties.taluka_nam+"</td></tr>"+
                            "<tr><td><b>Village</b></td><td>"+feature.properties.village_na+"</td></tr></table>";
        }else if(maleg === 'iti'){
            insti_content = "<table class = 'popupclass' ><tr><td><b>District</b></td><td>"+feature.properties.district+"</td></tr>"+
                            "<tr><td><b>Taluka</b></td><td>"+feature.properties.taluka+"</td></tr>"+
                            "<tr><td><b>Address</b></td><td>"+feature.properties.address+"</td></tr></table>";
        }else if(maleg === 'bifo'){
            insti_content = "<table class = 'popupclass' ><tr><td><b>Location</b></td><td>"+feature.properties.formatted_+"</td></tr>"+
                            "<tr><td><b>Address</b></td><td>"+feature.properties.address+"</td></tr></table>";
        }else if(maleg === 'vti'){
            insti_content = "<table class = 'popupclass' ><tr><td><b>Institute</b></td><td>"+feature.properties.InstituteN+"</td></tr>"+
                            "<tr><td><b>Location</b></td><td>"+feature.properties.formatted_+"</td></tr>"+
                            "<tr><td><b>Address</b></td><td>"+feature.properties.Addres+"</td></tr></table>";
        }
        popup.setContent(insti_content);
        popup.setLatLng(e.latlng);
        mymap.openPopup(popup);
    }
    }
    });
}

mymap.addEventListener('click', Identify);




};










const domain = ['http://makerghat.urbansciences.org','http://localhost/'];

var rootUrl = domain[1] + 'geoserver/geonode/ows';
var wms_legend;
var LayerList= [];
var village_layer;
function addVillageLayer(){
    // village_layer = source.getLayer('geonode:maha_rural_plus_urban');
    // village_layer.addTo(mymap);
    // console.log("Hi");
    villayer = new L.tileLayer.wms('http://makerghat.urbansciences.in/geoserver/geonode/ows', {

    layers: 'geonode:maha_all_district_merged',
    format: 'image/png',
    version: '1.3.0',
    transparent: true,
    });
    villayer.addTo(mymap);
    // addWMSLegend(villayer.options.layers);

    LayerList.push(mmylayer);
}

function clearAllLayers(){
  
  if(LayerList)  { 
  LayerList.forEach(layer =>mymap.removeLayer(layer));}
 }

function addWMSLegend(layer){
    lagendGraphic = "http://makerghat.urbansciences.in/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER="+layer;
    wms_legend = L.wmsLegend(lagendGraphic);
}


function clearLayer(){
    LayerList.forEach(layer => mymap.removeLayer(layer));
    
}
var myLayerList= new Object();
var index;
function displayPoints(param,key){
point_url = rootUrl + L.Util.getParamString(param);
// console.log(point_url);
fetch(point_url)
.then(
    function(response) {
    if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
        response.status);
        return;
    }

    response.json().then(function(jsonData) {

        geojson = L.geoJson(jsonData.features, {
                pointToLayer: function (feature,latlng) {
                 if(feature.properties.govt_poly_){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'building', markerColor: 'green', prefix: 'fa' }) });
                 }
                 else if(feature.properties.priv_poly_){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'building', markerColor: 'blue', prefix: 'fa' }) });
                 }
                 else if(feature.properties.institut_1 === 'GOVERNMENT'){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'warehouse', markerColor: 'green', prefix: 'fa' }) });
                 }
                 else if(feature.properties.institut_1 === 'PRIVATE'){
                    return L.marker(latlng, {icon: L.AwesomeMarkers.icon({icon: 'warehouse', markerColor: 'blue', prefix: 'fa' }) });
                 }
                
    },
    
    });
    
var index = myLayerList[key];
if(index){                                  //if layer is present
    mymap.removeLayer(index);
    delete myLayerList[key];
    
}if(!index){                                //if layer is not present
    geojson.addTo(mymap);
    myLayerList[key]=geojson;

}

    });


    }
)
.catch(function(err) {
    console.log('Fetch Error :-S', err);
});
  
}


function removeVillageLayer(){
    if(villayer){
        mymap.removeLayer(villayer);
        
    }
    //mymap.removeControl(wms_legend);
}
var defaultParameters = {
service: 'WFS',
version: '1.0.0',
request: 'GetFeature',
outputFormat: 'application/json'
};

   
$('.select').click(function () {
        $(this).toggleClass('highlight')
    })
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}




</script>

<div id="mapdiv" class="col-md-12"></div>



{% endblock %}