.navbar-brand {
    width: 350px;
    height: 80px;
    background: transparent url("../img/communityGIS.svg") no-repeat;
    background-size: 300px 70px;
    background-position-y: center;
}

.jumbotron {
    background: url("../img/jumbo.png") no-repeat !important;
    background-size: cover !important;
}